@import url('__logo/header__logo.css');
@import url('__lang/header__lang.css');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 48px;
    min-height: 52px;
    max-width: 1184px;
    width: 92%;
}

@media (max-width: 767px) {
    .header {
        margin-top: 16px;
    }
}
