.lead__title {
    max-width: 720px;
    width: 100%;
    font-weight: 900;
    font-size: 6rem;
    line-height: 6rem;
    text-align: center;
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
}

@media (max-width: 767px) {
    .lead__title {
        max-width: 500px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 8px;
    }
}

@media (max-width: 600px) {
    .lead__title {
        max-width: 343px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 8px;
    }
}

@media (max-width: 375px) {
    .lead__title {
        max-width: 300px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 8px;
    }
}

